// fonts

@font-face {
  font-family: heading;
  src: url("/Heading-Pro-Wide-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Outfit:wght@300;400;600&display=swap');

// vars

$mobile: 900px;

$blue: #020630;
$orange: #f39123;

// scrollbar

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(168, 168, 168, 0.66);
  border-radius: 5px;
}

// elements

body {
  padding: 0;

  font-family: "Outfit", sans-serif;
  background: $blue;
  color: white;

  // overflow-y: scroll;
  overflow: overlay;
}

input:not([type="range"]), textarea {
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px;

  border: 1px solid $blue;

  &:focus {
    border: 2px solid $orange;
  }
}


// splash screen


nav {
  position: fixed;
  background: $blue;

  width: 100vw;
  margin: 0;
  padding: 4pt 0;

  border-bottom: 1px solid $orange;

  h3 {
    margin: 0;
    height: 100%;
    text-align: center;
  }
}

div.splash {
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  img.splash {
    width: 100%;
    object-fit: cover;
    object-position: center 50%;

    flex-grow: 1;
    flex-shrink: 1;

    outline: 1px solid $orange;

    //@media screen and (min-width: $mobile) {
    height: 60%;
    //}
  }

  .splash-content {
    text-align: center;
    padding: 32pt 8px;

    h1 {
      font-family: heading, sans-serif;
      text-transform: uppercase;

      font-size: 36pt;

      margin: 0;

      @media screen and (max-width: $mobile) {
        font-size: 24pt;
      }
    }

    h2 {
      font-style: italic;
    }

  }

  .options {
    margin-top: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    a, a:visited {
      margin: 0 1em 12px 1em;

      color: gray;
      border: 2px solid gray;
      border-radius: 16px;

      text-decoration: none;
      text-transform: lowercase;

      font-size: 24pt;
      padding: 8px 24px;

      transition: 0.15s ease all;

      &:hover {
        color: $orange;
        border-color: $orange;
      }
    }
  }
}

// content

.content {
  padding: 0 200px;

  font-size: 16pt;

  @media screen and (max-width: $mobile) {
    padding: 0 8px;
  }

  h1 {
    font-family: heading, sans-serif
  }

  h2 {
    font-size: 2rem;
  }
}

.card {
  background: #f1f1f1;
  //color: #252525;
  color: $blue;
  padding: 18px 32px;
  border-radius: 24px;

  //box-shadow: 0 5px $orange;

}

// orange slider

$slider-width: 28px;

input[type=range] {
  -webkit-appearance: none;

  width: 100%;
  height: 6px;
  border-radius: 3px;

  background: $blue;
  //outline: 1px solid $orange;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;

  appearance: none;
  width: $slider-width;
  height: $slider-width;
  border-radius: 50%;
  background: $orange;
  cursor: pointer;
}

::-moz-range-thumb {
  width: $slider-width;
  height: $slider-width;
  border-radius: 50%;
  background: $orange;
  cursor: pointer;
}

.heading {
  font-family: heading, sans-serif;
}

.flex-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.about {
  @media screen and (min-width: $mobile) {
    max-width: 700px;
  }

  font-size: 1.5rem;

  img {
    width: 100%;
    border-radius: 16px;
  }
}

.form {
  div {
    margin: 5px 0;
  }

  label {
    font-size: 1.3rem;
  }

  input, textarea {
    display: block;
    width: 100%;
    font-size: 1.5rem;
  }
}

.corporate {
  .corpsponsor {
    flex-grow: 1;

    @media screen and (min-width: $mobile) {
      min-width: 600px;
      max-width: 700px;
    }


    h2 {
      // text-align: center;
      margin: 8px 0;
    }

    h3 {
      margin: 0.5em 0;
      font-size: 1.3em;
    }

    .amount {
      text-align: center;
      font-size: 1.75em;
    }

    ul {
      margin: 0;
      min-height: 9em;
    }
  }
}

.receipt {
  @media screen and (min-width: 800px) {
    width: 800px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  h3 {
    margin-bottom: 4px;
  }

  p {
    margin: 4px 0;
  }
}